body {
    font-family: Arial;
    text-align: center;
    background: #f2f7f2;
}

input {
    padding: 10px;
    margin: 5px;
    width: 180px;
}

button {
    padding: 10px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}